<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18177252443-6hr2mq5gqgdtnuii16b66ka5vf8i7tsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18177252443-6hr2mq5gqgdtnuii16b66ka5vf8i7tsc</string>
	<key>API_KEY</key>
	<string>AIzaSyB81urMOGXYtuCTbsLwUE-v11jfsV151iM</string>
	<key>GCM_SENDER_ID</key>
	<string>18177252443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-d45f6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-d45f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18177252443:ios:a861f4ab7c6c7afd33f37e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-flutter-d45f6-default-rtdb.firebaseio.com</string>
</dict>
</plist>